<h1> <%= @title %> </h1>

<div class="col1"> Record </div>
<div class="col2"> Wins: <%= @teamdata[@title][0] %> </div>
<div class="col3"> Losses: <%= @teamdata[@title][1] %> </div>
<div></div>

<% end %>
